<!--Aqui establecemos la lista donde mostraremos los datos de los juguetes, ademas de un boton para añadir un nuevo
juguete, otro para editarlo y otro para borrarlo-->
<div class='container'>
    <div class='row'>
        <div class='col-sm-12'>
            
            <form class='form-inline'>
                <fieldset class='form-group col-sm-11'></fieldset>
                
                <fieldset class='form-group col-sm-1'>
                    <a class= 'btn btn-primary' routerLink="citas/new">+</a>
                </fieldset>
            </form>
            <br>
            <table class='table table-striped'>
                <thead>                
                    <tr>
                        <th class='col-md-1'>IDENTIFICADOR</th>
                        <th class='col-md-6'>ID CLIENTE</th>
                        <th class='col-md-6'>ID CITA</th>
                    </tr>
                </thead>
                <tbody *ngIf="citas">
                    <tr *ngFor='let cita of citas; let i=index'>
                        <td class='col-sm-1'>
                            <i>{{i+1}}</i>
                        </td>

                        <td class='col-md-6'>
                            <i>{{cita.idCliente}}</i>
                        </td>

                        <td class='col-md-6'>
                            <i>{{cita.idAgendaHorario}}</i>
                        </td>

                        <td class=”col-sm-1”>
                            
                        </td>

                        <td class=”col-md-1”>
                            <i class="bi bi-pencil-square text-success" routerLink="citas/{{cita.id}}/edit"></i>
                        </td>


                        <td class=”col-md-1”>
                            <i class="bi bi-trash ps-3 text-danger" (click)="borrar(cita.id)"></i>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

