<header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0" routerLink="/">Programa de Citas</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 text-dark"
        routerLinkActive="active" routerLink="citas" aria-current="page">Gestion Citas</a>
        <a class="nav-link fw-bold py-1 px-0 text-dark"
        routerLinkActive="active" routerLink="clientes">Gestion Clientes</a>
        <a class="nav-link fw-bold py-1 px-0 text-dark"
        routerLinkActive="active" routerLink="agenda-horarios">Gestion Agenda</a>
      </nav>
    </div>
  </header>